body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    background: #f2f5f8;
    padding: 10px;
    font-weight: 300;
  }

  a:active {
    background: #b1cbd1;
    color: rgb(37, 39, 36);
  }
  
  .app-cont {
    max-width: 1080px;
    margin: 0 auto;
  }
  
  .app-cont-thin {
    max-width: 650px;
    background: #fff;
    padding: 1em 0;
    border-radius: 3px;
  }
  
  .box {
    background-color: #567895;
  }

  h1{
    background-color: rgb(112, 110, 110);
    padding: 10px;
    color: white;
  }
  
  h2 {
    background-color: rgb(170, 166, 166);
    padding: 10px;
    color: white;
  }
  span {
    background-color: rgba(255,255,255,.5);
  }
      